= link_to "Pathway Synthesis", root_path, :class => 'title'
= link_to "People", "people", :class => 'navlink'
= link_to "Hiring", "hiring", :class => 'navlink'
= link_to "Talks", "talks", :class => 'navlink'
= link_to "Papers", "papers", :class => 'navlink'
= link_to "Act", "act", :class => 'navlink'
= link_to "Home", "/", :class => 'navlink'

