= link_to "Pathway Synthesis", root_path, :class => 'brand'
= link_to "Act", "act", :class => 'brand'
= link_to "Talks", "talks", :class => 'brand'
= link_to "Papers", "papers", :class => 'brand'
= link_to "People", "people", :class => 'brand'
